<% this.title = lingua.user.login;%>
<% layout('layout') -%>
<h1><%= lingua.user.login %></h1>
<form method="POST">
	<% if (typeof error != 'undefined') {%>
		<div class="error"><%= error %></div>
	<% } %>
	<input type="text" name="name" placeholder="<%= lingua.user.name%>" />
	<input type="password" name="password" placeholder="<%= lingua.user.password%>" />
	<button type="submit"><%= lingua.user.login %></button>
</form>